:root {
  --primary-dark: #1e2164;
  --light-pink: #d86ed5;
  --pink: #a851b2;
  --dark-pink: #91278d;
  --yellow: #fbe7a3;
  --yellow-dark: #f9db76;
  --white: #ffffff;
  --swiper-navigation-size: 44px;
  --swiper-theme-color: #a851b2;
}
