@import "./variables";
@import "./reset";
@import "./mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "BergenMono-Regular", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  background-color: var(--primary-dark);
}

button {
  font-family: "BergenMono-Regular", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  color: var(--pink);
  font-family: "Oxta", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  max-width: 720px;
  line-height: 1.5;
  font-weight: 400;
  @include respond-below(sm) {
    font-size: 1rem;
  }
}

.heart {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em 0.25em;
  animation: beat 5s ease infinite;
  color: #231f20;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}

.math-wallet-icon {
  background: #000000;
}
.connect-wallet {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
  &-button {
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid #cccccc;
    background: #ffffff;
    &:hover {
      background: #efefef;
    }
    span {
      margin-left: 0.25rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @include respond-below(lg) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  @include respond-below(md) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.overflow-scroll {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include respond-below(md) {
    height: 200px;
    overflow-x: scroll;
  }
  .shadow {
    display: none;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
    @include respond-below(md) {
      display: block;
    }
  }
  .gallery-img {
    margin: 0;
    flex-shrink: 0;
    position: relative;
    width: 400px;
    height: 400px;
    @include respond-below(md) {
      width: 200px;
      height: 200px;
    }
  }
}

.mb-2 {
  margin-bottom: 4rem;
  @include respond-below(sm) {
    margin-bottom: 2rem;
  }
}

.team-member-card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: ease 0.3s;
  &:hover {
    .twitterLink {
      background: #13153f;
    }
  }
}

.twitterLink {
  color: var(--yellow);
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 0;
  display: flex;
  line-height: 1.5;
  &::before {
    content: "";
    cursor: inherit;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    color: var(--pink);
    text-decoration: underline;
  }
  svg {
    width: 1em;
    height: 1em;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }
}

.collapse-icon {
  width: 1em;
  height: 1em;
  margin-top: 0.125em;
  flex-shrink: 0;
  align-self: flex-start;
  margin-right: 1rem;
  @include respond-below(sm) {
    margin-right: 0.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.rarity-swiper {
  width: 100%;
  padding: 50px 0 !important;

  .swiper-slide {
    opacity: 0;
    transition: opacity 0.5s;
    width: 300px !important;
    height: 300px !important;
  }

  .swiper-slide-next {
    opacity: 0.3;
    transition: 0.25s ease-in;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -1;
  }
  .swiper-slide-prev {
    opacity: 0.3;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: 0.25s ease-in;
  }

  .swiper-slide-active {
    opacity: 1;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  margin: 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: not-allowed !important;
  z-index: 100;
}

.box {
  display: flex;
  width: 300px;
  font-family: "BergenMono-Regular";
}
.countdown-column {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown-number {
  font-size: 24px;
  font-weight: bold;
}
.countdown-word {
  font-size: 14px;
  font-family: "BergenMono-Regular";
  font-weight: bold;
  margin-top: 4px;
  text-transform: uppercase;
}
.countdown-colon {
  font-size: 24px;
  font-weight: bold;
}

.secondary-link {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  background: var(--pink);
  color: white;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  transition: 0.3s ease;
  flex-shrink: 0;
  &:hover {
    background: var(--dark-pink);
  }

  img {
    width: 2em;
    margin-right: 0.5rem;
  }

  svg {
    height: 2rem;
  }
}

.secondary-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  @include respond-below(md) {
    flex-direction: column;
  }
}

.bg-confetti-animated {
  width: 100%;
  background-repeat: repeat-x;
  background-position: top -10px center;
  background-image: url("data:image/svg+xml,%3Csvg width='600' height='90' viewBox='0 0 600 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='42' y='-10' width='6' height='10'/%3E%3Crect x='84' y='-10' width='6' height='10'/%3E%3Crect x='126' y='-13' width='5' height='13'/%3E%3Crect x='168' y='-13' width='5' height='13'/%3E%3Crect x='210' y='-10' width='6' height='10'/%3E%3Crect x='252' y='-13' width='5' height='13'/%3E%3Crect x='294' y='-10' width='6' height='10'/%3E%3Crect x='336' y='-13' width='5' height='13'/%3E%3Crect x='378' y='-13' width='5' height='13'/%3E%3Crect x='420' y='-10' width='6' height='10'/%3E%3Crect x='462' y='-10' width='6' height='10'/%3E%3Crect x='504' y='-13' width='5' height='13'/%3E%3Crect x='546' y='-10' width='6' height='10'/%3E%3Cstyle type='text/css'%3E rect %7B opacity: 0; %7D rect:nth-child(1) %7B transform-origin: 45px 5px; transform: rotate(-145deg); animation: blast 700ms infinite ease-out; animation-delay: 88ms; animation-duration: 631ms; %7D rect:nth-child(2) %7B transform-origin: 87px 5px; transform: rotate(164deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 442ms; %7D rect:nth-child(3) %7B transform-origin: 128px 6px; transform: rotate(4deg); animation: blast 700ms infinite ease-out; animation-delay: 92ms; animation-duration: 662ms; %7D rect:nth-child(4) %7B transform-origin: 170px 6px; transform: rotate(-175deg); animation: blast 700ms infinite ease-out; animation-delay: 17ms; animation-duration: 593ms; %7D rect:nth-child(5) %7B transform-origin: 213px 5px; transform: rotate(-97deg); animation: blast 700ms infinite ease-out; animation-delay: 122ms; animation-duration: 476ms; %7D rect:nth-child(6) %7B transform-origin: 255px 6px; transform: rotate(57deg); animation: blast 700ms infinite ease-out; animation-delay: 271ms; animation-duration: 381ms; %7D rect:nth-child(7) %7B transform-origin: 297px 5px; transform: rotate(-46deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 619ms; %7D rect:nth-child(8) %7B transform-origin: 338px 6px; transform: rotate(-65deg); animation: blast 700ms infinite ease-out; animation-delay: 85ms; animation-duration: 668ms; %7D rect:nth-child(9) %7B transform-origin: 380px 6px; transform: rotate(13deg); animation: blast 700ms infinite ease-out; animation-delay: 128ms; animation-duration: 377ms; %7D rect:nth-child(10) %7B transform-origin: 423px 5px; transform: rotate(176deg); animation: blast 700ms infinite ease-out; animation-delay: 311ms; animation-duration: 508ms; %7D rect:nth-child(11) %7B transform-origin: 465px 5px; transform: rotate(108deg); animation: blast 700ms infinite ease-out; animation-delay: 108ms; animation-duration: 595ms; %7D rect:nth-child(12) %7B transform-origin: 506px 6px; transform: rotate(62deg); animation: blast 700ms infinite ease-out; animation-delay: 105ms; animation-duration: 375ms; %7D rect:nth-child(13) %7B transform-origin: 549px 5px; transform: rotate(16deg); animation: blast 700ms infinite ease-out; animation-delay: 149ms; animation-duration: 491ms; %7D rect:nth-child(odd) %7B fill: %2365BB5C; %7D rect:nth-child(even) %7B z-index: 1; fill: %2333AAFF; %7D rect:nth-child(4n) %7B animation-duration: 1400ms; fill: %23F23B14; %7D rect:nth-child(3n) %7B animation-duration: 1750ms; animation-delay: 700ms; %7D rect:nth-child(4n-7) %7B fill: %232A2F6A; %7D rect:nth-child(6n) %7B fill: %23FBBA23; %7D @keyframes blast %7B from %7B opacity: 0; %7D 20%25 %7B opacity: 1; %7D to %7B transform: translateY(90px); %7D %7D %3C/style%3E%3C/svg%3E%0A");
}

.post-img-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 400px;

  @include respond-below(md) {
    height: 300px;
  }
}

.post-title {
  font-family: "BergenMono-Regular", sans-serif;
  text-transform: uppercase;
  text-align: center;
  max-width: 900px;
  margin: 0.5em auto 0.5em;
  color: white;
  line-height: 1;
  font-size: 4rem;
  margin-top: 0.5em;
  @include respond-below(md) {
    font-size: 2rem;
  }
}

.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @include respond-below(md) {
    margin: 0.75rem -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  p {
    margin: 0;
  }
  .author-img {
    border-radius: 50%;
    border: 1px solid white !important;
    transition: 0.3s ease;
  }
  .author-link {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    p {
      font-size: 1rem;
      margin: 0;
      line-height: 1;
      color: var(--yellow);
    }

    .author-rank {
      text-transform: uppercase;
      font-size: 10px;
      display: block;
      margin-bottom: 0.25rem;
      color: rgba(255, 255, 255, 0.75);
      line-height: 1;
    }

    &:hover {
      p {
        text-decoration: underline;
      }
    }
  }
  .published-date {
    font-size: 1rem;
    line-height: 1;
    @include respond-below(md) {
      font-size: 0.85rem;
    }
  }
}

.lore {
  max-width: 768px !important;
  a {
    color: var(--yellow);
  }
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  ul {
    font-size: 1.25rem;
    li {
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
  }
}

.lore-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "BergenMono-Regular", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--light-pink);
  }
  a {
    color: var(--yellow);
  }
  ul {
    font-size: 1.25rem;
    li {
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.lore-header-title {
  color: #c838c4;
  font-family: "Oxta", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  left: -1rem;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  &:hover {
    color: var(--light-pink);
  }

  @include respond-below(md) {
    font-size: 1.25rem;
    left: 1.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    left: -1.05rem;
    width: 1px;
    height: 100%;
    background: var(--pink);
    @include respond-below(md) {
      left: -0.75rem;
    }
  }
}

.author-bio-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

.author-posts-list {
  font-size: 1.25rem;
  li {
    margin-bottom: 1rem;
  }
  a {
    color: var(--yellow);
  }
}

.lore-header {
  a {
    @include respond-below(md) {
      margin-left: 0 !important;
      svg {
        margin-left: 1rem !important;
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  ol {
    width: 100%;
    padding: 0;
    max-width: 720px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1rem 0;
    text-align: center;
    li {
      position: relative;
      display: inline;
      a {
        color: var(--yellow);
        font-size: 1rem;
        line-height: 1.5;
        padding: 0.5rem 0;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    li.current-page {
      a {
        pointer-events: none;
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.breadcrumbs ol > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}
