@import "./variables";
@import "./reset";
@import "./mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "BergenMono-Regular", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  background-color: var(--primary-dark);
}

button {
  font-family: "BergenMono-Regular", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  color: var(--pink);
  font-family: "Oxta", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  max-width: 720px;
  line-height: 1.5;
  font-weight: 400;
  @include respond-below(sm) {
    font-size: 1rem;
  }
}

.heart {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em 0.25em;
  animation: beat 5s ease infinite;
  color: #231f20;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}

.math-wallet-icon {
  background: #000000;
}
.connect-wallet {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
  &-button {
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid #cccccc;
    background: #ffffff;
    &:hover {
      background: #efefef;
    }
    span {
      margin-left: 0.25rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @include respond-below(sm) {
    grid-template-columns: none;
  }
}

.overflow-scroll {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include respond-below(md) {
    height: 300px;
    overflow-x: scroll;
  }
  .shadow {
    display: none;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
    @include respond-below(md) {
      display: block;
    }
  }
  .gallery-img {
    margin: 0 2rem;
    flex-shrink: 0;
    position: relative;
    width: 400px;
    height: 400px;
    @include respond-below(md) {
      width: 300px;
      height: 300px;
    }
  }
}

.mb-2 {
  margin-bottom: 4rem;
  @include respond-below(sm) {
    margin-bottom: 2rem;
  }
}

.twitterLink {
  color: var(--yellow);
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  line-height: 1.5;
  &:hover {
    color: var(--pink);
    text-decoration: underline;
  }
  svg {
    width: 1em;
    height: 1em;
    margin-top: 0.25rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}

.collapse-icon {
  width: 1em;
  height: 1em;
  margin-right: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.rarity-swiper {
  width: 800px;
  height: fit-content;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;

  .swiper-slide {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .swiper-slide-next {
    opacity: 0.3;
    transition: 0.25s ease-in;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -1;
  }
  .swiper-slide-prev {
    opacity: 0.3;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: 0.25s ease-in;
  }

  .swiper-slide-active {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
  }
}

.swiper-slide img {
  display: block;
  margin: 0;
  height: 300px;
  object-fit: cover;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: not-allowed !important;
  z-index: 100;
}
