@import "./variables";
@import "./reset";
@import "./mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "BergenMono-Regular", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  background-color: var(--primary-dark);
}

button {
  font-family: "BergenMono-Regular", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  color: var(--pink);
  font-family: "Oxta", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  max-width: 720px;
  line-height: 1.5;
  font-weight: 400;
  @include respond-below(sm) {
    font-size: 1rem;
  }
}

.heart {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em 0.25em;
  animation: beat 5s ease infinite;
  color: #231f20;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}

.math-wallet-icon {
  background: #000000;
}
.connect-wallet {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
  &-button {
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid #cccccc;
    background: #ffffff;
    &:hover {
      background: #efefef;
    }
    span {
      margin-left: 0.25rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @include respond-below(lg) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  @include respond-below(md) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.overflow-scroll {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include respond-below(md) {
    height: 200px;
    overflow-x: scroll;
  }
  .shadow {
    display: none;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
    @include respond-below(md) {
      display: block;
    }
  }
  .gallery-img {
    margin: 0;
    flex-shrink: 0;
    position: relative;
    width: 400px;
    height: 400px;
    @include respond-below(md) {
      width: 200px;
      height: 200px;
    }
  }
}

.mb-2 {
  margin-bottom: 4rem;
  @include respond-below(sm) {
    margin-bottom: 2rem;
  }
}

.team-member-card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: ease 0.3s;
  &:hover {
    .twitterLink {
      background: #13153f;
    }
  }
}

.twitterLink {
  color: var(--yellow);
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 0;
  display: flex;
  line-height: 1.5;
  &::before {
    content: "";
    cursor: inherit;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    color: var(--pink);
    text-decoration: underline;
  }
  svg {
    width: 1em;
    height: 1em;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }
}

.collapse-icon {
  width: 1em;
  height: 1em;
  margin-top: 0.125em;
  flex-shrink: 0;
  align-self: flex-start;
  margin-right: 1rem;
  @include respond-below(sm) {
    margin-right: 0.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.rarity-swiper {
  width: 100%;
  padding: 50px 0 !important;

  .swiper-slide {
    opacity: 0;
    transition: opacity 0.5s;
    position: relative;
    width: 300px !important;
    height: 275px !important;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.0980392) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.0980392) 75%,
        rgba(0, 0, 0, 0.0980392) 0
      ),
      linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.0980392) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.0980392) 75%,
        rgba(0, 0, 0, 0.0980392) 0
      ),
      white;
    background-repeat: repeat, repeat;
    background-position: 0px 0, 5px 5px;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    background-size: 10px 10px, 10px 10px;
    box-shadow: none;
    text-shadow: none;
    transition: none;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    &::after {
      content: "";
      width: 300px;
      height: 275px;
      background-image: url("../public/images/skin/default.png");
      z-index: -1;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
    }
  }

  .swiper-slide-next {
    opacity: 0.3;
    transition: 0.25s ease-in;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -1;
  }
  .swiper-slide-prev {
    opacity: 0.3;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: 0.25s ease-in;
  }

  .swiper-slide-active {
    opacity: 1;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  margin: 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: not-allowed !important;
  z-index: 100;
}

.box {
  display: flex;
  width: 300px;
  font-family: "BergenMono-Regular";
}
.countdown-column {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown-number {
  font-size: 24px;
  font-weight: bold;
}
.countdown-word {
  font-size: 14px;
  font-family: "BergenMono-Regular";
  font-weight: bold;
  margin-top: 4px;
  text-transform: uppercase;
}
.countdown-colon {
  font-size: 24px;
  font-weight: bold;
}
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 2px;
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.select-wrapper {
  display: flex;
  gap: 1rem;
  select {
    text-transform: uppercase;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23fbe7a3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    color: var(--yellow);
    background-color: transparent;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-family: "BergenMono-Regular", sans-serif;
    font-weight: bold;
    border-color: var(--yellow);
    &:focus {
      outline: 2px solid var(--pink);
    }
  }
}

.label-wrapper {
  padding: 1rem;
}

.common {
  background-color: #cdb19b;
}
.uncommon {
  background-color: #77bdeb;
}

.rare {
  background-color: #ebc55f;
}
.mythic {
  background-color: #53e3bd;
}
.superrare {
  background-color: #f17a92;
}
