.manga {
  &-link {
    color: var(--yellow);
    position: static;
    text-decoration: none;
    margin-left: 1rem;
    &::before {
      content: "";
      cursor: inherit;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
  }
  &-thumbnail-placeholder {
    background: gray;
    width: 100px;
    height: 100px;
  }
  &-container {
    max-width: 800px;
  }
  &-episode-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &-episode-row {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    &:hover {
      background: var(--darkest);
    }
  }
}
