@import "mixins";

.notification-banner {
  display: block;
  background-color: var(--light-pink);
  color: var(--primary-dark);
  padding: 0.5rem 0;
  font-size: 0.85rem;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--pink);
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-below(md) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &-message {
    margin: 0;
    line-height: 1.25;
    font-size: 0.85rem;
    margin: 0 auto;
    position: relative;
    &::before,
    &::after {
      content: "🎉";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include respond-below(sm) {
        display: none;
      }
    }
    &::before {
      left: -1.5rem;
    }
    &::after {
      right: -1.5rem;
    }
  }
  &-underline {
    white-space: nowrap;
    font-weight: bold;
    text-decoration: underline;
  }
}
