@import "mixins";

.post-card {
  display: flex;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.5rem;
  &-stack {
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  &-spacer {
    flex: 1;
    justify-self: stretch;
    align-self: stretch;
  }
  &-link {
    font-size: 1.25rem;
    text-decoration: none;
    margin: 1rem 0;
    &:hover {
      text-decoration: underline;
    }
  }
  &--horizontal {
    flex-direction: row;
    .post-card-image {
      width: 150px;
      height: 150px;
      @include respond-below(sm) {
        width: 100%;
        height: 200px;
        margin-bottom: 0.5rem;
      }
      div {
        border-radius: 0.5rem;
      }
    }
  }
  &--vertical {
    .post-card-image {
      height: 200px;
      margin-bottom: 0.25rem;
      position: relative;
      flex-shrink: 0;
      margin-top: -1rem;
      margin-left: -1rem;
      margin-right: -1rem;
      div {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
