.tags {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  a {
    font-size: 0.75rem !important;
    border-radius: 10rem;
    border: 1px solid var(--pink);
    color: var(--pink);
    padding: 0.25rem 0.5rem;
    text-decoration: none !important;
    text-transform: uppercase;
    line-height: 1;
    transition: ease 0.3s;
    outline: none;
    &:hover,
    &:focus {
      background: var(--pink);
      color: white;
      text-decoration: none;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(216, 110, 213, 0.85);
    }
  }
}
