.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  a {
    font-size: 0.75rem !important;
    border-radius: 10rem;
    background: #d4a8d9;
    color: var(--primary-dark);
    padding: 0.25rem 0.5rem;
    text-decoration: none !important;
    text-transform: uppercase;
    line-height: 1;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    transition: ease 0.3s;
    outline: none;
    &:hover,
    &:focus {
      background: var(--pink);
      color: white;
      text-decoration: none;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(216, 110, 213, 0.85);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
